@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body{
    line-height: 1.5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(image/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}
.container nav ul li a:hover{
    color: #1657FD;
}
nav{
    width: 100%;
    padding: 47.09px 0;
    display: flex;
    align-items: center;
}
img .logo{
    width: 230px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.col1{
    margin-top: 6.5%;
}
.col1 h1{
    font-size: 45px;
    margin-bottom: 10px;
}
.col1 h1 span{
    color: #1657FD;
}
.col1 p{
    line-height: 22px;
    font-size: 15px;
}
.col1 .btn{
    display: inline-block;
    margin-top: 30px;
    background-color: #1657FD;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}
.col1 a:hover {
    background-color: #fff;
    color: #1657FD;
}
.color-box{
    position: absolute;
    right: 0px;
    top: 0px;
    background: #1657FD, lightblue;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
}
.coin{
    display: flex;
    position: absolute;
    z-index: 2;
    right: 600px;
    bottom: 200px;
    background-color: #000;
    border-radius: 20px;
    padding: 25px 40px;
}
.coin2{
    position: absolute;
    z-index: 1;
    right: 375px;
    bottom: 110px;
    padding: 30px 30px;
    background-color: #1657FD;
    border-radius: 20px;
}
.coin3{
    position: absolute;
    z-index: 0;
    background-color: #000;
    right: 175px;
    bottom: 200px;
    border-radius: 20px;
    padding: 25px 40px;
}
.coin img{
    width: 45px;
    margin-right: 25px;
}
.coin h3{
    color: #fff;
    margin-bottom: 5px;
}
.tradingview-widget-container
{
    size: 1000px 1500px;
}
.fcontainer
{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex: wrap;
}
ul{
    list-style: none;
}
.footer
{
    background-color: rgb(10, 10, 35);
    padding: 70px 0;
}
.footer-col
{
    width: 25%;
    padding: 15px;
} 
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1657FD;
    height: 2px;
    box-sizing: border-box;
    width: 40px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px; 
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262d;
    background-color: #fff;
}
.goldenbitcoin{
    display: flex;
    right: 0px;
    height: 650px;
    background-color: #121520;
    padding: 50px;
}
.container1{
    display: flex;
    flex: wrap;
}
.ccol1{
    margin-top: 6.5%;
}
.ccol1 h1{
    font-size: 45px;
    margin-bottom: 10px;
    padding-left: 100px;
    font-size: 55px;
    color: #fff;
}
.ccol1 h1 span{
    color: #1657FD;
}
.ccol1 h2{
    line-height: 22px;
    font-size: 15px;
    padding-left: 100px;
    font-size: 30px;
    padding-top: 50px;
    color: #fff;
}

