
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url(img/converterbg.jpg);
}
.container{
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 110px;
  border-radius: 5px;
  background: linear-gradient(135deg, #e0580f, #0d0430);
}

li{
  font-size: large;
}
button{
  font-size: large;
}
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
 }
  @media(max-width: 459px){
  .container {
    flex-direction: column;
  }
}
td {
  background-color: #E4F5D4;
  border: 1px solid black;
}

th,
td {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  font-weight: 500;
  
}